* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    height: 100%; /* needed for the footer to be at the bottom */
}

body {
  /* flex is used so that the footer will always be at the bottom of the page */
  display: flex;
  flex-direction: column;
}

/* Content for website */

#content-body {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Inter', sans-serif;

    flex: 1 0 auto;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

ul {
  display: block;
  margin-left: 20px;
}

/* styling for fonts */

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

p, ul, .button-storting, #kjonn, #alder{
    font-size: 15px;

    /* Semi-bold */
    font-weight: 600;
}

/* styling for imgs files */

#logo {
  margin-top: 20px;
}

/* styling navbar for storting */

#navbar-storting {
  border-top: #A31000 2px solid;
  border-bottom: #A31000 2px solid;
  width: 100%;
  height: 40px;
}

.button-storting, #kjonn, #alder{
  display: inline;
  height: 100%;
  border: none;
  background-color: #fff;
}




/* used to make footer work */
.push {
    height: 80px;
}


/* dropdown styling */
.navbar {
    overflow: hidden;
    background-color: #fff;
    border-bottom: solid red 3px;
  }
  
  .navbar a, .dropbtn2 {
    float: right;
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-size: large;
    padding: 1em;
  }
  
  /* can't use class to change logo to right because it has lower priority */
  .navbar a:first-child {
    float: left;
    padding: 0;
  }

  .navbar a img {
    height: auto;
    width: auto;
    max-height: 3rem;
    margin: 0;
  }

  /* Have to do this sp that prevois css does not mess with a that is not the logo */
  .navbar .dropdown2-content a {
    float: none;
    padding: 1em;
  }
  

  .dropbtn2 {
    background-color: #fff;
    white-space: nowrap;
    border: none;
  }

  .dropbtn2:hover, .dropbtn2:focus {
    background-color: grey;
    border: none;
  }
  .dropdown2 {
    z-index: 30;
    float: right;
    overflow: hidden;
    outline: none;
  }
  .dropdown2-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    overflow: auto;
    z-index: 1;
    margin-top: 3rem;
  }
  .dropdown2-content a {
    display: block;
    height: auto;
  }
  .dropdown2 a:hover {
    background: grey;
  }
  .show {
    display:block;
  }

  /* footer styling */

footer {
    width: 100%;
    height: 5em;
    color: #000000;
    background: #F9DCDC;
    border-top: 3px #000000 solid;  
    
    /* flex so that the footer is at the bottom */
    flex-shrink: 0;
}

footer div {
    width: 30em;
    text-align: center;
    margin: auto;
    padding-top: 0.5em;
}

footer div :nth-child(1) {
    width: 15em;
    float: left;
    height: auto;
}

footer div :nth-child(2) {
    width: 15em;
    float: right;
    margin: auto;
}