* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.content {
    min-height: 100%;

    margin-bottom: -80px;
}

/* Content for website */

#content-body {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Inter', sans-serif;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

ul {
  display: block;
  margin-left: 20px;
}

/* styling for fonts */

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

p, ul, .button-storting, #kjonn, #alder{
    font-size: 15px;

    /* Semi-bold */
    font-weight: 600;
}

/* styling for imgs files */

#logo {
  margin-top: 20px;
}

/* styling navbar for storting */

#navbar-storting {
  border-top: #A31000 2px solid;
  border-bottom: #A31000 2px solid;
  width: 100%;
  height: 40px;
}

.button-storting, #kjonn, #alder{
  display: inline;
  height: 100%;
  border: none;
  background-color: #fff;
}




/* used to make footer work */
.push {
    height: 80px;
}


  /* dropdown styling */

.navbar {
    /*position: fixed;* husker ikke hva slags posisjon vi skulle ha */
    overflow: hidden;
    background-color: #fff;
    border-bottom: solid red 3px;
  }
  
  .navbar a, .dropbtn2 {
    float: right;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* can't use class to change logo to right because it has lower priority */
  .navbar a:first-child {
    float: left;
  }

  /* Have to do this sp that prevois css does not mess with a that is not the logo */
  .navbar .dropdown2-content a {
    float: none;
  }
  

  .dropbtn2 {
    
    background-color: #fff;

    white-space: nowrap;

    /*
    margin: 0 1px 0 0;
    padding: 4px 3px;
    width: auto;
    font: bold 10px arial;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    */
    border: none;
  }

  .dropbtn2:hover, .dropbtn2:focus {
    background-color: grey;
    border: none;
  }
  .dropdown2 {
    z-index: 30;
    float: right;
    overflow: hidden;
  }
  .dropdown2-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    overflow: auto;
    z-index: 1;

    margin-top: 45px;

  }
  .dropdown2-content a {
    display: block;

    margin-top: 0.5em;
    height: auto;
  }
  .dropdown2 a:hover {
    background: grey;
  }
  .show {
    display:block;
  }

  /* footer styling */

footer {
    width: 100%;
    height: 5em;
    color: #000000;
    background: #F9DCDC;
    border-top: 3px #000000 solid;  
    
    position: sticky;
}

footer div {
    width: 30em;
    text-align: center;
    margin: auto;
    padding-top: 0.5em;
}

footer div :nth-child(1) {
    width: 15em;
    float: left;
    height: auto;
}

footer div :nth-child(2) {
    width: 15em;
    float: right;
    margin: auto;
}